body{font-family: 'Avenir Next' !important;}
.container{ max-width:1260px; margin: 0 auto;}

ul{list-style: none; margin: 0px; padding: 0px; ;}

 


section.homebannerarea {
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #f5f8fe;
    height: 445px;

    .banner__Title {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: column;width: 540px;

        h1{font-weight: 700;
            font-size: 42px;
            line-height: 53px;  
            color: #161616;}

            p{font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 31px; 
                color: #161616;}
    }


}



.headerSidebar {
    background-color: #fff;
    padding: 10px 20px;
    height: 446px;
    display: block;
    width: 85%; 
    position: relative;

    ul { 
        
        
        li 
        {   padding: 10px 0;
                a {font-weight: 400;
                font-size: 16px;
                line-height: 20px; 
                text-transform: capitalize; 
                color: #707070;
                &:hover  {color:var(--secondary-color)}
            
            }

                &:hover ul{display: block;}


                }


              ul{position: absolute; top:0; right:-90%; background: #fff; display: none;
                height: 100%; width:100%; padding:35px 20px 0; border-left:1px solid #f5f8fe }  
    }



    h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px; 
        color: #161616;
        display: flex;
        text-align: left;
        align-items: center;
        svg {
        margin-right: 10px;
        }
    }


}



.topitembox {
    width: 441px; 
    padding:20px 34px 30px 20px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; height: 280px; 
    background: #EFF4FE;
    border-radius: 10px;

.productheading{
    h3{
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 38px; 
            color: var(--black);
    }
}


}